body { 
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 700px;
}
.content {
  display: flex;
  background-color: rgba(200, 200, 200, 0.416);
  margin-left: 10%;
  margin-right: 10%;

}
table {
  overflow: auto;
  table-layout: fixed;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}
.ajout {
  padding: 24px;
  border: 1px solid;
}
.liste {
  border: 1px solid black;
}
input[type="text"],
input[type="date"] {
  display: inline-block;
  width: 100%;
}
input[type="text"]{
  padding: 6px 15px;
}
input[type="date"] 
{
  height: 36px;
}

#modifier {
  visibility: hidden;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
form {
  margin-left: 2%;
  margin-top: 3%;
}
form button
label {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
input {
  padding: 5px 7px;
  border-radius: 10%;
  caret-color: red;
}
#valider {
  padding: 5px 7px;
  background-color: rgb(38, 192, 24);
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
#valider :hover {
  padding: 6px 8px;
  background-color: rgb(21, 113, 12);
}

#annuler {
  padding: 5px 7px;
  background-color: rgb(192, 24, 24);
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#modifier {
  padding: 5px 7px;
  background-color: rgb(230, 105, 3);
  color: black;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5px;
}
button {
  border-radius: 15px;
  padding: 2px 7px;
  border: 0px;
  box-shadow: 1px 2px 2px 0px #333;
  width: 80px;
}
td, th {
  height: 50px;
}
tr {
  text-align: center;
}
th {
  height: 40px;
}